@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #3c3939;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  background-color: #fff;
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
}

.sidebar {
  width: 16%;
  height: 100%;
  background: #e6edb8;
  padding: 0px;
}

.sidebar a {
  text-decoration: none;
}

.sidebar h2 {
  text-transform: uppercase;
  margin-top: 25px;
  margin-left: 17px;
  margin-bottom: 25px;
}

.sidebar ul li {
  padding: 15px;
  margin-left: 2px;
}

.sidebar ul li a {
  display: block;
  text-decoration: none;
}

.sidebar ul li a .fas {
  width: 25px;
}

.sidebar ul li:hover {
  background-color: #5e9176;
  border-radius: 25px 0px 0px 25px;
}

.sidebar ul li:hover a {
  color: #fff;
}

.chat_list {
  width: 30%;
  background-color: rgb(231, 243, 212);
}

.chat_list h4 {
  margin: 1em;
  font-size: 24px;
}

.chat_container {
  width: 84%;
  height: 100vh;
  background: #ffffff;
  margin: 0;
  font-size: 0;
  overflow: hidden;
}

aside {
  background: #f3edbd;
  width: 28%;
  height: 100vh;
  display: inline-block;
  font-size: 15px;
  vertical-align: top;
  border-right: 2px solid #e6edb8;
}

main {
  width: 72%;
  height: 100vh;
  display: inline-block;
  font-size: 15px;
  vertical-align: top;
}

aside header {
  padding: 30px 20px;
}

aside input {
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0 50px 0 20px;
  border: 1px solid #e6edb8;
  border-radius: 5em;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_search.png);
  background-repeat: no-repeat;
  background-position: 96%;
  background-size: 40px;
}

aside ul {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
  height: 100vh;
}

aside li {
  padding: 10px 0;
}

aside li:hover {
  background-color: #e6edb8;
  border-radius: 25px 0px 0px 25px;
}

h2,
h3 {
  margin: 0;
}

aside li img {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 20px;
  margin-right: 8px;
  margin-top: 12px;
}

aside li div {
  display: inline-block;
  vertical-align: top;
  margin-top: 12px;
}

aside li h2 {
  font-size: 14px;
  color: #5c5f6a;
  font-weight: normal;
  margin-bottom: 5px;
}
aside li h3 {
  font-size: 12px;
  color: #7e818a;
  font-weight: normal;
}

.status {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 7px;
}
.green {
  background-color: #58b666;
}
.orange {
  background-color: #ff725d;
}
.blue {
  background-color: #6fbced;
  margin-right: 0;
  margin-left: 7px;
}

main .header {
  height: 110px;
  padding: 30px 20px 30px 40px;
  border-bottom: 1px solid #e6edb8;
}

main .header > * {
  display: inline-block;
  vertical-align: top;
}

main .header img:first-child {
  width: 42px;
  height: 42px;
  object-fit: cover;
  border-radius: 50%;
}

main .header div {
  margin-left: 10px;
  margin-right: 1.4em;
}

main .header h2 {
  font-size: 16px;
  margin-bottom: 5px;
}

main .header h3 {
  font-size: 14px;
  font-weight: normal;
  color: #7e818a;
}

.call {
  float: right;
}

.call img {
  width: 30px;
  height: 30px;
}

.chat {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
  overflow-y: scroll;
  height: 66%;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}
.chat li {
  padding: 10px 30px;
}
.chat h2,
.chat h3 {
  display: inline-block;
  font-size: 13px;
  font-weight: normal;
}
.chat h3 {
  color: #bbb;
}
.chat .entete {
  margin-bottom: 5px;
}

.chat .message {
  padding: 8px;
  color: rgb(100, 99, 99);
  line-height: 25px;
  max-width: 90%;
  display: inline-block;
  text-align: left;
  border-radius: 5px;
}

.chat .me {
  text-align: right;
}

.chat .you .message {
  background-color: #e6edb8;
}

.chat .me .message {
  background-color: #f3edbd;
}

main .footer {
  height: 155px;
  padding: 20px 30px 10px 20px;
}

main .footer textarea {
  resize: none;
  border: 1px solid rgb(155, 153, 153);
  display: block;
  width: 100%;
  height: 3rem;
  border-radius: 3px;
  padding: 5px;
  font-size: 10px;
  font-family: "Roboto", sans-serif;
}

main .footer textarea::placeholder {
  color: rgb(155, 153, 153);
}

main .footer img {
  height: 30px;
  cursor: pointer;
}
main .footer a {
  float: right;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #6fbced;
  vertical-align: top;
  margin-left: 333px;
  margin-top: 5px;
  display: inline-block;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #111111bd;
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.6s 0.9s;
  --transform: translateY(-100vh);
  --transition: transform 0.8s;
}

.modal--show {
  opacity: 1;
  pointer-events: unset;
  transition: opacity 0.6s;
  --transform: translateY(0);
  --transition: transform 0.8s 0.8s;
}

.modal__container {
  margin: auto;
  width: 90%;
  max-width: 600px;
  max-height: 90%;
  background-color: #fff;
  border-radius: 6px;
  padding: 3em 2.5em;
  display: grid;
  gap: 1em;
  place-items: center;
  grid-auto-columns: 100%;
  transform: var(--transform);
  transition: var(--transition);
}

.modal__title {
  font-size: 2.5rem;
}

.modal__paragraph {
  margin-bottom: 10px;
}

.modal__img {
  width: 90%;
  max-width: 300px;
}

.modal__close {
  text-decoration: none;
  color: #fff;
  background-color: #f26250;
  padding: 1em 3em;
  border: 1px solid;
  border-radius: 6px;
  display: inline-block;
  font-weight: 300;
  transition: background-color 0.3s;
}

.modal__close img {
  width: 42px;
  height: 42px;
}

.modal__close:hover {
  color: #f26250;
  background-color: #fff;
}

.loader {
  margin-left: 600px;
  margin-top: 240px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #5e9176;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
