@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #3C3939;
}

body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    min-height: 100vh;
    background-color: #E6EDB8;
}

.index{
    margin: 20px 5px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.index h1{
    margin-top: 0.5em;
    margin-bottom: .5em;
}

.index p{
    margin: 10px 7px 5px 0px;
    width: 90%;
    font-weight: 300;
    font-size: 1.3rem;
}

.images{
    width: 100%;
    height: 100%;
    margin-top: 3em;
    position: relative;
}

.images .slide{
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter:blur(0.7px) opacity(50%);
    display: none;
}

.form{
    background-color: #fff;
    width: 50%;
    height: 100vh;
    padding: 4.5em;
    border-radius: 40px 0px 0px 40px;
    box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
    text-align: center;
    position: absolute;
    right: 0px;
}

.title{
    font-size: 2rem;
    margin-bottom: 0.5em;
}

.reg_container p{
    padding-top: 2.5em;
    font-weight: 300;

}

.reg_container{
    margin-top: 3em;
    display: grid;
}

.register{
    border-top: 1px solid #5757577e ;
    gap: 1em;
}

.link{
    font-weight: 400;
    color: 3C3939;
}

.form_container{
    margin-top: 2em;
    display: grid;
    gap: 2.5em;
}

.input_group{
    position: relative;
}

.input{
    width: 100%;
    background: none;
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid #5757577e;
    font-family: 'Roboto', sans-serif;
}

.input:not(:placeholder-shown){
    color: #3C3939;
}

.input:focus + .label,
.input:not(:placeholder-shown) + .label{
    transform: translateY(-12px) scale(.7);
    transform-origin: left top;
    color:#3C3939;
}

.label{
    color: #3C3939;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s, color .3s;
}

.form .form_container .enter{
    margin-top: 3rem;
} 

.btn{
    width: 40%;
    margin: auto;
    background: #E6EDB8;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    padding: .8em 0;
    border: none;
    border-radius: .5em;
    box-shadow: 1px 1px 3px #E6EDB8;
}

.line{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #E6EDB8;
    transform: scale(0);
    transform: left bottom;
    transition: transform .4s;
}

.input:focus ~ .line,
.input:not(:placeholder-shown) ~ .line{
    transform: scale(1);
}

.forgot{
    font-weight: 300;
    font-size: 14px;
    padding: 8px;
    text-decoration: none;
}
.btn_register{
    border: 2px solid #E6EDB8;
    background: white;
    color: #E6EDB8;
}

.btn_register:hover{
    background-color: #E6EDB8;
    color: #3C3939;
}

.space{
    margin-top: 2%;
}

@media(max-width:500px){

    body{
        display: flex;
        flex-direction: column;
    }

    .index{
        margin: 0 auto;
    }

    .index h1{
        margin-top: 0.2em;
        margin-bottom: .2em;
    }

    .index p{
        display: none;
    }

    .index .images{
        display: none;
    }

    .form{
        width: 85%;
        height: auto;
        position: inherit;
        margin: 0 auto;
        border-radius: 40px;
        padding: 2.5em;
    }
    .form .title{
        font-size:1.5rem;
        margin-bottom: 0;
    }

    .form .form_container .enter{
        margin-top: 0;
    }

    .btn {
        width: 100%;
    }

    .terms{
        font-size: 14px;
    }
}