@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  min-height: 100vh;
  background-color: #fff;
}

.wrapper {
  display: flex;
  position: relative;
}

.wrapper .sidebar {
  width: 250px;
  height: 100%;
  background: #BFC882;
  padding: 30px 0px;
}

.wrapper .sidebar a{
    text-decoration: none;
}

.wrapper .sidebar .suggestions{
    position: absolute;
}

.wrapper .sidebar ul h2 {
  color: black;
  text-transform: uppercase;
  margin-left: 17px;
  margin-bottom: 25px;
}

.wrapper .sidebar ul li {
  padding: 15px;
  margin-left: 2px;
}

.wrapper .sidebar ul li a {
  color: black;
  display: block;
  text-decoration: none;
}

.wrapper .sidebar ul li a .fas {
  width: 25px;
}

.wrapper .sidebar ul li:hover {
  background-color: #5E9176;
  border-radius: 25px 0px 0px 25px;
}

.wrapper .sidebar ul li:hover a {
  color: #fff;
}

.wrapper .main_content {
  width: 100%;
}

.wrapper .main_content .publish {
  padding: 20px;
  background: #fff;
  color: #717171;
  border-bottom: 1px solid #e0e4e8;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.wrapper .main_content .publish .profile_pic{
    width: 50px;
    height: 50px;
    margin: 0px 5px;
    background-image: url("../assets/images/drDolittle.jpg");
    background-size: cover;
    border-radius: 2em;
    border: 1px solid #717171;
}

.wrapper .main_content .publish .profile_pic + div{
    width: 80%;
    flex-direction: column;
}

.wrapper .main_content .publish .profile_pic + div .text_area{
    width: 100%;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

.icons_cont{
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5em;
    align-items: center;
}

.wrapper .main_content .publish div input{
    border-radius: 2em;
    padding: 5px;;
}

.btn{
    width: 7em;
    height: 2em;
    background: #BFC882;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    padding: .5em 0;
    border: none;
    border-radius: 2em;
    box-shadow: 1px 1px 3px #bfc882;
}
.wall{
    display: flex;
    flex-wrap: wrap;
}

.wall .card {
    display: flex;
    width: 80%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgb(0 0 0 / 60%);
}



@media (max-height: 500px) {
  .social_media {
    display: none !important;
  }
}
