@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  min-height: 100vh;
  background-color: #fff;
}

.wrapper {
  width: 100%;
  display: flex;
  position: relative;
}

.wrapper .sidebar {
  width: 250px;
  height: 100%;
  background: #BFC882;
  padding: 30px 0px;
}

.wrapper .sidebar a{
    text-decoration: none;
}

.wrapper .sidebar .suggestions{
    position: absolute;
}

.wrapper .sidebar ul h2 {
  color: black;
  text-transform: uppercase;
  margin-left: 17px;
  margin-bottom: 25px;
}

.wrapper .sidebar ul li {
  padding: 15px;
  margin-left: 2px;
}

.wrapper .sidebar ul li a {
  color: black;
  display: block;
  text-decoration: none;
}

.wrapper .sidebar ul li a .fas {
  width: 25px;
}

.wrapper .sidebar ul li:hover {
  background-color: #5E9176;
  border-radius: 25px 0px 0px 25px;
}

.wrapper .sidebar ul li:hover a {
  color: #fff;
}

.wrapper .main_content {
  width: 100%;
}

.wrapper .main_content .publish {
  padding: 20px;
  background: #fff;
  color: #717171;
  border-bottom: 1px solid #e0e4e8;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.wrapper .main_content .publish .profile_pic{
    width: 50px;
    height: 50px;
    margin: 0px 5px;
    background-image: url("../assets/images/drDolittle.jpg");
    background-size: cover;
    border-radius: 2em;
    border: 1px solid #717171;
}

.wrapper .main_content .publish .profile_pic + div{
    width: 80%;
    flex-direction: column;
}

.wrapper .main_content .publish .profile_pic + div .text_area{
    width: 100%;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

.icons_cont{
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5em;
    align-items: center;
}

.wrapper .main_content .publish div input{
    border-radius: 2em;
    padding: 5px;;
}

.btn{
    width: 7em;
    height: 2em;
    background: #BFC882;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    padding: .5em 0;
    border: none;
    border-radius: 2em;
    box-shadow: 1px 1px 3px #bfc882;
}

.wall{
    display: flex;
    flex-wrap: wrap;
}

.wall .card {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 4px 2px -2px;
  font-weight: 100;
  margin: 1em auto;
  width: 80%;
}

.card-author {
  margin: 0 auto;
  padding-top: .125rem;
  width: 80%;
}

.card-author .romero::before {
  background: url(/assets/images/drRomero.jpg);
  background-size: cover;
  border-radius: 50%;
  content: " ";
  display: inline-block;
  height: 32px;
  margin-right: .5rem;
  position: relative;
  top: 8px;
  width: 32px;
}

.card-author h3 {
  font-weight: 500;
  font-size: 14px;
}

.card-body {
  margin: 0 auto;
  width: 80%;
}

.card-summary p {
  margin: 0.7em 0;
  color: #4d4d4d;
}

.card-footer {
  border-top: 1px solid #e6e6e6;
  margin: 0 auto;
  padding-bottom: .125rem;
  width: 80%;
}

.card-footer ul {
  list-style: none;
  display: flex;
  flex-wrap: row;
  justify-content: flex-end;
  padding-left: 0;
}

.card-footer li:first-child {
  margin-right: auto;
}

.card-footer li + li {
  margin-left: .5rem;
}

.card-footer li {
  color: black;
  font-size: 10px;
  height: 1.5rem;
  letter-spacing: 1px;
  line-height: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  white-space: nowrap;
}

.card-footer li i {
  font-size: 20px;
}

.card-footer li a {
  color: black;
  text-decoration: none;
}

.comments {
  margin-right: 1rem;
}

.published-date {
  padding: 0 .5rem;
}

.numero {
  position: relative;
  top: -0.2rem;
  font-size: 15px;
}

.icon-star,
.icon-bubble {
  fill: #999999;
  height: 24px;
  margin-right: .5rem;
  transition: .25s ease;
  width: 24px;
}

.fa-heart:hover {
  fill: #ff4d4d;
}

.card-author .almiron::before {
  background: url(/assets/images/fede.jpg);
  background-size: cover;
  border-radius: 50%;
  content: " ";
  display: inline-block;
  height: 32px;
  margin-right: .5rem;
  position: relative;
  top: 8px;
  width: 32px;
}

.card-author .rodriguez::before {
  background: url(/assets/images/carlos.jpg);
  background-size: cover;
  border-radius: 50%;
  content: " ";
  display: inline-block;
  height: 32px;
  margin-right: .5rem;
  position: relative;
  top: 8px;
  width: 32px;
}

.card-author .vazquez::before {
  background: url(/assets/images/caro.jpg);
  background-size: cover;
  border-radius: 50%;
  content: " ";
  display: inline-block;
  height: 32px;
  margin-right: .5rem;
  position: relative;
  top: 8px;
  width: 32px;
}

@media (max-height: 500px) {
  .social_media {
    display: none !important;
  }
}
