@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #3C3939;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  min-height: 100vh;
  background-color: #fff;
}

.wrapper {
  width: 100%;
  display: flex;
  position: relative;
}

.wrapper .sidebar {
  width: 250px;
  height: 100%;
  background: #E6EDB8;
  padding: 0px;
}

.wrapper .sidebar a {
  text-decoration: none;
}

.wrapper .sidebar .suggestions {
  position: absolute;
}

.wrapper .sidebar h2 {
  text-transform: uppercase;
  margin-top: 25px;
  margin-left: 17px;
  margin-bottom: 25px;
}

.wrapper .sidebar ul li {
  padding: 15px;
  margin-left: 2px;
}

.wrapper .sidebar ul li a {
  display: block;
  text-decoration: none;
  font-size: 18px;
}

.wrapper .sidebar ul li a .fas {
  width: 25px;
}

.wrapper .sidebar ul li:hover {
  background-color: #5E9176;
  border-radius: 25px 0px 0px 25px;
}

.wrapper .sidebar ul li:hover a {
  color: #fff;
}

.wrapper .main_content {
  width: 100%;
}

.wrapper .main_content .publish {
  padding: 20px;
  background: #fff;
  color: #717171;
  border-bottom: 1px solid #e0e4e8;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.wrapper .main_content .publish .profile_pic {
  width: 65px;
  height: 65px;
  margin: 0px 5px;
  background-image: url("../assets/images/drDolittle.jpg");
  background-size: cover;
  border-radius: 2em;
  border: 1px solid #717171;
}

.wrapper .main_content .publish .profile_pic+div {
  width: 80%;
  flex-direction: column;
  align-items: center;
}

.wrapper .main_content .publish .profile_pic+div .text_area {
  width: 100%;
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}

.icons_cont {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.4em;
  align-items: center;
}

.wrapper .main_content .publish div input {
  border-radius: 2em;
  padding: 5px;
  ;
}

.btn {
  width: 7em;
  height: 2em;
  background: #E6EDB8;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  padding: .5em 0;
  border: none;
  border-radius: 2em;
  box-shadow: 1px 1px 3px #E6EDB8;
}

.wall {
  display: flex;
  flex-wrap: wrap;
}

.wall .card {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 4px 2px -2px;
  font-weight: 100;
  margin: 1em auto;
  width: 80%;
}

.card-cover {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/17779/yosemite-3.jpg");
  background-size: cover;
  height: 15rem;
  box-shadow: inset rgba(0, 0, 0, 0.2) 0 64px 64px 16px;
}

.card-author .dolittle::before {
  background: url(/assets/images/drDolittle.jpg);
  background-size: cover;
  border-radius: 50%;
  content: " ";
  display: inline-block;
  height: 100px;
  width: 100px;
  margin-right: .5rem;
  position: relative;
  top: 7rem;
}

.card-author {
  margin: 0 auto;
  padding-top: .125rem;
  width: 80%;
}

.card-author .romero::before {
  background: url(/assets/images/drRomero.jpg);
  background-size: cover;
  border-radius: 50%;
  content: " ";
  display: inline-block;
  height: 40px;
  width: 40px;
  margin-right: .5rem;
  position: relative;
  top: 18px;
}

.card-author h3 {
  font-weight: 500;
  font-size: 16px;
}

.card-body {
  margin: 0 auto;
  width: 80%;
}

.card-title h1 {
  color: #333;
  font-weight: 700;
  font-size: 20px;
  margin-top: 3%;
  margin-bottom: 1%;
}

.card-summary p {
  margin: 0.7em 0;
  color: #4d4d4d;
  font-size: 14px;
}

.card-summary .info {
  font-size: 14px;
  margin: 0;
}

.card-summary .info:first-child { 
  font-size: 16px;
}
.card-summary img {
  width: 30%;
  height: 160px;
  object-fit: cover;
  border-radius: 1em;
}

.more_photo {
  display: flex;
  float: right;
  height: 160px;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 30px;
}

.more_photo a {
  text-decoration: none;
}

.ocult {
  display: none;
}

.card-footer {
  border-top: 1px solid #e6e6e6;
  margin: 0 auto;
  padding-top: 0.5rem;
  padding-bottom: .125rem;
  width: 80%;
}

.card-footer ul {
  list-style: none;
  display: flex;
  flex-wrap: row;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 0;
}



.card-footer li+li {
  margin-left: .5rem;
}

.card-footer li {
  font-size: 8px;
  height: 2rem;
  letter-spacing: 1px;
  line-height: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  white-space: nowrap;
}

.card-footer li i {
  font-size: 20px;
}

.card-footer li a {
  text-decoration: none;
}

.published-date {
  padding: 0 .5rem;
  font-size: 10px;
  margin-left: 6.3%;
}

.numero {
  position: relative;
  top: -0.2rem;
  font-size: 15px;
}

.card-footer ul li .far,
.card-footer ul li .fas {
  fill: #999999;
  height: 24px;
  margin-right: .5rem;
  margin-top: .2rem;
  margin-bottom: .2rem;
  transition: .25s ease;
  width: 15px;
}

.fa-heart:hover {
  fill: #ff4d4d;
}

.card-author .almiron::before {
  background: url(/assets/images/fede.jpg);
  background-size: cover;
  border-radius: 50%;
  content: " ";
  display: inline-block;
  height: 40px;
  margin-right: .5rem;
  position: relative;
  top: 18px;
  width: 40px;
}

.card-author .dross::before {
  background: url(/assets/images/Ángel_David_Revilla_2019.png);
  background-size: cover;
  border-radius: 50%;
  content: " ";
  display: inline-block;
  height: 40px;
  margin-right: .5rem;
  position: relative;
  top: 18px;
  width: 40px;
}

.card-author .vazquez::before {
  background: url(/assets/images/caro.jpg);
  background-size: cover;
  border-radius: 50%;
  content: " ";
  display: inline-block;
  height: 40px;
  margin-right: .5rem;
  position: relative;
  top: 18px;
  width: 40px;
}

.card-author .dolittle2::before {
  background: url(/assets/images/drDolittle.jpg);
  background-size: cover;
  border-radius: 50%;
  content: " ";
  display: inline-block;
  height: 40px;
  margin-right: .5rem;
  position: relative;
  top: 18px;
  width: 40px;
}

@media (max-height: 500px) {
  .social_media {
    display: none !important;
  }
}