.sprite {
  position: absolute;
  width: calc(5160px / 43);
  height: 188px;
  background: url(../assets/sprites/char_run.png);
  left: 20%;
  bottom: 25%;
  animation: run 0.65s steps(43) infinite;
}

.spriteJump {
  position: absolute;
  width: calc(3708px / 31);
  height: 183px;
  background: url(../assets/sprites/char_jump.png);
  left: 20%;
  bottom: 25%;
  animation: jump 1s steps(31) both ;
}

.bee {
  position: absolute;
  width: 273px;
  height: 282px;
  background: url(../assets/sprites/bee.png);
  left: 80%;
  bottom: 25%;
  transform: scale(0.5, 0.5);
    animation: bee 2.3s  1s ease-in-out;
}

.bg {
  width: 2700px;
  position: initial;
}

.animation_top {
  height: 722px;
  background: url(../assets/background/new_background_top.png);
  animation: animatedBackground 30s linear infinite;
}

.animation_bottom {
  height: 469px;
  background: url(../assets/background/new_background_bottom.png);
  animation: animatedBackground 13s linear infinite;
}
/*
.sprite:hover {
  animation: jump 2s both ease-out;
}*/
@keyframes animatedBackground {
  from {
    background-position: 0px;
  }
  to {
    background-position: -4737px;
  }
}

@keyframes run {
  100% {
    background-position: -5160px;
  }
}

@keyframes jump {
  45% {
    bottom: 50%;
  }
  55% {
    bottom: 50%;
  }
  100% {
    bottom: 25%;
    background-position: -3708px;
  }
}

@keyframes bee {
    100% {
        left: 0%;
    }
}
