.game_container {
  width: 1300px;
  height: 600px;
  overflow: hidden;
  position: relative;
}

.score{
  width: 50px;
  height: 50px;
  margin: 5px;
  position: absolute;
  display: flex;
  font-size: 37px;
}

.score img{
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.character {
  position: absolute;
  width: calc(5160px / 43);
  height: 188px;
  background: url(../assets/sprites/char_run.png);
  left: 15%;
  bottom: 18%;
  transform: scale(0.7, 0.7);
  z-index: 1;
  animation: run 0.8s steps(43) infinite;
  border: 1px solid red;
}

.characterJump {
  position: absolute;
  width: calc(3708px / 31);
  height: 183px;
  background: url(../assets/sprites/char_jump.png);
  left: 15%;
  bottom: 18%;
  transform: scale(0.7, 0.7);
  z-index: 1;
  animation: jump 1.5s steps(31) both;
  border: 1px solid red;
}

.bee {
  position: absolute;
  width: 70px;
  height: 70px;
  background: url(../assets/sprites/bee.png);
  background-size: cover;
  left: 80%;
  bottom: 30%;
  animation: bee 2.3s 1s ease-in-out;
  border: 1px solid red;
}

.bee2 {
  position: absolute;
  width: 75px;
  height: 75px;
  background: url(../assets/sprites/bee.png);
  background-size: cover;
  left: 80%;
  bottom: 25%;
  animation: bee 2.3s 0.5s ease-in-out;
}

.bee3 {
  position: absolute;
  width: 75px;
  height: 75px;
  background: url(../assets/sprites/bee.png);
  background-size: cover;
  left: 80%;
  bottom: 35%;
  animation: bee 2.3s 1s ease-in-out;
}

.honey {
  position: absolute;
  width: 50px;
  height: 50px;
  background: url(../assets/sprites/honey.png);
  background-size: cover;
  left: 90%;
  bottom: 25%;
  animation: honey 6.4s linear;
  border: 1px solid red;
}

.honeyGrab {
  position: absolute;
  width: 50px;
  height: 50px;
  background: url(../assets/sprites/honey.png);
  background-size: cover;
  left: 18%;
  bottom: 25%;/*No pouedo hacerla andar, es para animar la miel cuando la agarras*/
  animation: honeyGrab 1s linear 0.2s;
}

.beeHive {
  position: absolute;
  width: 75px;
  height: 75px;
  background: url(../assets/sprites/beehive.png);
  background-size: cover;
  left: 90%;
  bottom: 24%;
  animation: bee 6.4s linear;
  border: 1px solid red;
}

.bg {
  position: initial;
}

.animation_top {
  height: 60.6%;
  background: url(../assets/background/new_background_top.png);
  background-size: cover;
  animation: animatedBackground 35s linear infinite;
}

.animation_bottom {
  height: 39.4%;
  background: url(../assets/background/new_background_bottom.png);
  background-size: cover;
  animation: animatedBackground 22s linear infinite;
}

.hidden {
  opacity: 0;
}


@keyframes animatedBackground {
  from {
    background-position: 0px;
  }
  to {
    background-position: -4737px;
  }
}

@keyframes run {
  100% {
    background-position: -5160px;
  }
}

@keyframes jump {
  45% {
    bottom: 55%;
  }
  65% {
    bottom: 55%;
  }
  100% {
    bottom: 18%;
  }
}

@keyframes bee {
  100% {
    left: -10%;
  }
}

@keyframes honey {
  25%{
    transform: scale(1.2,1.2);
  }
  50%{
    transform: scale(0.7,0.7);
  }
  75%{
    transform: scale(1.2,1.2);
  }
  100%{
    left: -10%;
    transform: scale(0.7,0.7);
  }
}

@keyframes honeyGrab{
  0%{
    bottom: 25%;
  }
  5%{
    bottom: 40%;
  }
  50%{
    bottom: 40%;
  }
  100%{
    left: -10%;
    bottom: 100%;
  }
}
